:root{
    --color-cabecalho-inicial:#e76f10d5;
    --color-cabecalho-final:#c15d00;
    --cor-fundo-body: #f5f5f;
    --cor-main: #fff;
    --cor-letras-link: #fff;
    --cor-rodade: #333;
    --cor-botao-cabecalho: #ffffff49
}